@tailwind base;

@tailwind components;

@tailwind utilities;

h1 {
    @apply text-2xl md:text-4xl font-semibold !important;
    margin-bottom: 2.5rem !important;
}

h2 {
    @apply text-3xl font-semibold !important;
}

h3 {
    @apply text-2xl font-semibold !important;
}

h4 {
    @apply text-xl font-semibold !important;
}

h5 {
    @apply text-lg font-semibold !important;
}

img {
    @apply mx-auto my-12 !important;
}

code {
    @apply rounded text-sm bg-background !important;
}

.prism-code {
    /*This fixes the issue with white background when we restrict the width of codeblocks to bring in the sidebar*/
    background-color: #2A2D3E !important;
}

[class^="codeBlockLines"] {
    @apply w-10 !important;
}

.markdown > p > a {
    @apply text-brand hover:bg-brand hover:bg-opacity-10 hover:no-underline font-semibold px-1 transition ease-out duration-100 !important;
    background-image: linear-gradient(180deg, transparent 70%, #FFFBEF 0) !important;
}

.markdown > blockquote > p > a {
    @apply text-brand hover:bg-brand hover:bg-opacity-10 hover:no-underline font-semibold px-1 transition ease-out duration-100 !important;
    background-image: linear-gradient(180deg, transparent 70%, #FFFBEF 0) !important;
}

.hero__title {
    @apply mb-10 !important;
}

[class^="docTitle"] {
    @apply my-10 text-4xl 2xl:text-5xl !important
}

[class^="docItemCol"] {
    @apply px-10 md:px-20 !important;
}

.menu__link {
    @apply p-3 !important;
}

p {
    @apply text-primary !important;
}

.alert > .admonition-content > p {
    @apply text-white !important;
}

.alert > .admonition-content > p > a {
    @apply no-underline hover:bg-opacity-20 hover:bg-white px-1 font-bold transition ease-out duration-100 !important;
    background-image: linear-gradient(180deg, transparent 70%, #ffffff33 0) !important;
}

.alert > .admonition-content > p > code {
    @apply rounded text-sm bg-background bg-opacity-25 text-white font-bold !important;
}

blockquote {
    @apply mb-10 mt-10 !important;
}

.pagination-nav {
    @apply mt-16 !important;
}

.alert {
    @apply my-10 !important;
}

.alert--info {
    @apply bg-blue border-0 ring !important;
}

.alert--danger {
    @apply bg-error border-0 ring ring-error !important;
}

.alert--warning {
    @apply bg-warning border-0 ring ring-warning-light !important;
}

.alert--success {
    @apply bg-success border-0 ring ring-success-light !important;
}

.alert--secondary {
    @apply bg-primary-lightest border-0 ring ring-background !important;
}

.admonition-heading > h5 {
    @apply flex items-center text-white capitalize !important;
}

.admonition-icon svg {
    fill: white !important;
    @apply mr-2 !important;
}

table {
    @apply py-4 !important;
}

.markdown > ul > li {
    list-style: disc;
    @apply ml-12 text-primary my-3 !important;
}

.markdown > ul > li > ul > li {
    list-style: circle;
    @apply ml-20 text-primary my-3 !important;
}

.markdown > ul > li > a {
    @apply text-brand hover:bg-brand hover:bg-opacity-10 hover:no-underline font-semibold px-1 transition ease-out duration-100 !important;
    background-image: linear-gradient(180deg, transparent 70%, #FFFBEF 0) !important;
}

.markdown ul > li > ul > li > p > a {
    @apply text-brand hover:bg-brand hover:bg-opacity-10 hover:no-underline font-semibold px-1 transition ease-out duration-100 !important;
    background-image: linear-gradient(180deg, transparent 70%, #FFFBEF 0) !important;
}

.pagination-nav__link {
    @apply rounded border p-6 hover:border-blue hover:ring-2 ring-blue transition ease-out duration-100 !important;
}

.navbar__brand {
    @apply ml-5 text-white !important;
}

.navbar {
    @apply bg-primary-darker !important;
}

.fsc-input {
    @apply focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-primary-lightest rounded;
}

.fsc-button {
    @apply shadow hover:shadow-lg transition duration-100 ease-out focus:outline-none focus:ring-4 focus:ring-opacity-50 focus:ring-primary-lightest;
}

.fsc-button-minimal {
    @apply transition duration-100 ease-out focus:outline-none;
}

.fsc-button-basic {
    @apply transition duration-100 ease-out focus:outline-none focus:ring-2 focus:ring-opacity-50;
}

.fsc-animate {
    @apply transition duration-100 ease-out;
}

.fsc-back-button {
    @apply shadow transition duration-100 ease-out focus:outline-none focus:ring-2 focus:ring-opacity-50 focus:ring-primary-lighter;
}

.menu__link--active:not(.menu__link--sublist) {
    @apply bg-primary-light text-white !important;
}